<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8"/>
   <title>Spring framework gri</title>
</head>
<body>
      <h1>> book list</h1>
      <table>
          <tr>
              <th>Id</th>
              <th>Title </th>
              <th>publisher</th>
          </tr>
          <tr th:each="book : ${books}">
              <td th:text="${book.id}">123</td>
              <td th:text="${book.title}">Srin in action</td>
              <td th:text="${book.publisher.name}">wrox</td>
          </tr>
      </table>
</body>
</html>